{% extends 'base.html.twig' %}

{% block title %}{{'title_contact_list'|trans}}{% endblock %}

{% block body %}
<div class="table-wrapper">
    {% if pagination is defined and pagination.items|length %}
        <h1>{{ 'title_contact_list'|trans }}</h1>
        <table class="table table-hover table-light table-responsive-lg">
        <thead class="thead-light">
        <tr>
            <th>{{knp_pagination_sortable(pagination, 'label_id'|trans, 'contact.id')}}</th>
            <th>{{knp_pagination_sortable(pagination, 'label_name'|trans, 'contact.name')}}</th>
            <th>{{knp_pagination_sortable(pagination, 'label_surname'|trans, 'contact.surname')}}</th>
            <th>{{knp_pagination_sortable(pagination, 'label_tags'|trans, 'contact.tag')}}</th>
            <th>{{'label_show'|trans}}</th>
            <th>{{'label_edit'|trans}}</th>
            <th>{{'label_delete'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in pagination.items %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.surname }}</td>
                {% if contact.tag is defined and contact.tag|length %}
                    <td>
                    {% for tag in contact.tag %}
                        <a href="{{ url('contact_index', {'filters' : {'tag' : tag.id}}) }}" title="{{ tag.name }}">
                            {{ tag.name}}
                        </a>
                    {% endfor %}
                    </td>
                {% else %}
                    &nbsp;
                {% endif %}
                <td>
                    <a href="{{ url('contact_show', {id: contact.id}) }}" title="{{ 'action_view'|trans }}">
                        <span><i class="fas fa-search"></i></span>
                    </a>
                </td>
                <td>
                    <a href="{{ url('contact_edit', {id: contact.id}) }}" title="{{ 'action_view'|trans }}">
                        <span><i class="far fa-edit"></i></span>
                    </a>
                </td>
                <td>
                    <a href="{{ url('contact_delete', {id: contact.id}) }}" title="{{ 'action_view'|trans }}">
                        <span><i class="fas fa-trash-alt"></i></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    <div class="category">
        <a class="btn btn-lg btn-primary mt-3 btn-light" href="{{ url('contact_create') }}" title="Dodaj">{{'add_contact_label'|trans}}</a>
    </div>
</div>
{% endblock %}
