{% extends 'base.html.twig' %}

{% block title %}{{'title_event_list'|trans}}{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <h1>{{ 'title_event_list'|trans }}</h1>
        <table class="table table-striped table-dark">
        <thead class="thead-light">
        <tr>
            <th>{{knp_pagination_sortable(pagination, 'label_id'|trans, 'contact.id')}}</th>
            <th>{{knp_pagination_sortable(pagination, 'label_name'|trans, 'contact.name')}}</th>
            <th>{{knp_pagination_sortable(pagination, 'label_surname'|trans, 'contact.surname')}}</th>
            <th>{{'label_actions'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in pagination.items %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.surname }}</td>
                <td>
                    <a href="{{ url('contact_show', {id: contact.id}) }}" title="{{ 'action_view'|trans }}">
                        <span><i class="fas fa-search"></i></span>
                    </a>
{#                    <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action_view'|trans }}">#}
{#                        <span><i class="far fa-edit"></i></span>#}
{#                    </a>#}
{#                    <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action_view'|trans }}">#}
{#                        <span><i class="fas fa-trash-alt"></i></span>#}
{#                    </a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
