{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_event_details'}}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div>{{ app.user.email}}</div>

{#    {% if user is defined and user|length %}#}
{#        <dl class="dl-horizontal">#}
{#            <dt>{{ 'label_id'|trans }}</dt>#}
{#            <dd>{{ user }}</dd>#}
{#        </dl>#}
{#        <p>#}
{#            <a href="{{ url('event_index') }}" title="{{ 'action_back'|trans }}">#}
{#                {{ 'action_back'|trans }}#}
{#            </a>#}
{#        </p>#}
        <a href="{{ url('user_edit', {id: app.user.id}) }}" title="{{ 'action_view'|trans }}">
            <span><i class="far fa-edit"></i></span>
        </a>
    {% endif %}
{#    {% else %}#}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
{#    {% endif %}#}
{% endblock %}