{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user'|trans}}
{% endblock %}

{% block body %}
    <div class="user-wrapper">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <h2>{{ 'hello_label'|trans }}</h2>
        <h2 class="user">{{ app.user.email}}</h2>
        <a class="btn btn-lg btn-primary mt-3 btn-light" href="{{ url('user_edit', {id: app.user.id}) }}" title="{{ 'action_view'|trans }}">
            {{ 'edit_data_label'|trans }}
        </a>
    {% endif %}
    </div>
{% endblock %}