{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    {% if events is defined and events|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.date|date('Y/m/d') }}</td>
                    <td>{{ event.title }}</td>
                    <td>
{#                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action_view'|trans }}">#}
{#                            {{ 'action_view'|trans }}#}
{#                        </a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}

