{% extends 'base.html.twig' %}

{% block title %}{{'title_event_list'|trans}}{% endblock %}

{% block body %}
    {% if events is defined and events|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{'label_id'|trans}}</th>
                <th>{{'label_date'|trans}}</th>
                <th>{{'label_title'|trans}}</th>
                <th>{{'label_actions'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.date|date('Y/m/d') }}</td>
                    <td>{{ event.title }}</td>
                    <td>
                        <a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}

