{% extends 'base.html.twig' %}

{% block title %}{{'title_event_list'|trans}}{% endblock %}

{% block body %}
    {% if pagination is defined and pagination.items|length %}
        <h1>{{ 'title_event_list'|trans }}</h1>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{knp_pagination_sortable(pagination, 'label_id'|trans, 'event.id')}}</th>
                <th>{{knp_pagination_sortable(pagination, 'label_date'|trans, 'event.date')}}</th>
                <th>{{knp_pagination_sortable(pagination, 'label_title'|trans, 'event.title')}}</th>
                <th>{{knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title')}}</th>
                <th>{{knp_pagination_sortable(pagination, 'label_tags'|trans, 'tag.name')}}</th>
                <th>{{'label_actions'|trans}}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.date|date('Y/m/d') }}</td>
                    <td>{{ event.title }}</td>
                    <td>
                        <a href="{{ url('event_index', {'filters' : {'category' : event.category.id}}) }}" title="{{ event.category.title }}">
                            {{ event.category.title }}
                        </a>
{#                        <a href="{{ url('category_show', {id: event.category.id}) }}" title="{{ event.category.title }}">{{ event.category.title }}</a>#}
                    </td>
                    <td>
                        {% if event.tag is defined and event.tag|length %}
                            {% for tag in event.tag %}
                                <a href="{{ url('event_index', {'filters' : {'tag' : tag.id}}) }}" title="{{ tag.name }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('VIEW', event) %}
                        <a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        {% endif %}
                        {% if is_granted('EDIT', event) %}
                        <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                            <span><i class="far fa-edit"></i></span>
                        </a>
                        {% endif %}
                        {% if is_granted('DELETE', event) %}
                        <a href="{{ url('event_delete', {id: event.id}) }}" title="{{ 'action_view'|trans }}">
                            <span><i class="fas fa-trash-alt"></i></span>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
    <div class="category">
        <a href="{{ url('event_create') }}" title="Dodaj">Dodaj Kategorie</a>
    </div>
{% endblock %}

