{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_event_details'|trans({'%id%': event.id}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_event_details'|trans({'%id%': event.id|default('')}) }}</h1>
    {% if event is defined and event|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ event.id }}</dd>
            <dt>{{ 'label_date'|trans }}</dt>
            <dd>{{ event.date|date('Y/m/d') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ event.title }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ event.category.title}}</dd>
            <dt>{{ 'label_contact'|trans }}</dt>
            {% for contact in eventContact %}
            <dd>{{contact.name}} {{ contact.surname }}</dd>
            {% endfor %}
            <dt>{{ 'label_tags'|trans }}</dt>
            {% for tag in eventTag %}
            <dd>{{ tag.name }}</dd>
            {% endfor %}
        </dl>
        <p>
            <a href="{{ url('event_index') }}" title="{{ 'action_back'|trans }}">
                {{ 'action_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}