{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark st">
    <div class="container">
        <a class="navbar-brand" href="{{ url('home_page_index') }}">Terminarz <span><i class="far fa-calendar-alt"></i></span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="nav">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url('home_page_index')}}">Home <span><i class="fas fa-home"></i></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('category_index') }}">{{'label_category'|trans}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('event_index') }}">{{'label_event'|trans}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('contact_index') }}">{{'label_contact'|trans}}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('tag_index') }}">{{'label_tags'|trans}}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url('user_index')}}">{{'title_user'|trans}}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url('admin_user')}}">{{'label_admin'|trans}}</a>
                </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item ml-5">
                    <a class="nav-link" href="{{url('app_logout')}}">{{ 'label_logout'|trans }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endif %}