{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': categories.id|default('')}) }}
{% endblock %}

{% block body %}
{#    <h1>{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>#}
    {% if paginationEvent is defined and paginationEvent.items|length %}
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{knp_pagination_sortable(paginationEvent, 'label_id'|trans, 'event.id')}}</th>
                <th>{{knp_pagination_sortable(paginationEvent, 'label_title'|trans, 'event.title')}}</th>
                <th>{{knp_pagination_sortable(paginationEvent, 'label_date'|trans, 'event.date')}}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in paginationEvent.items %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td><a href="{{ url('event_show', {id: event.id}) }}" title="{{ 'action_back'|trans }}">{{ event.title }}</a></td>
                    <td>{{ event.date|date('Y-m-d')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="{{ url('tag_index') }}" title="{{ 'action_back'|trans }}">
                {{ 'action_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}

{#    <h1>{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>#}
    {% if paginationContact is defined and paginationContact.items|length %}
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{knp_pagination_sortable(paginationContact, 'label_id'|trans, 'contact.id')}}</th>
                <th>{{knp_pagination_sortable(paginationContact, 'label_title'|trans, 'contact.name')}}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in paginationContact.items %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td><a href="{{ url('contact_show', {id: contact.id}) }}" title="{{ 'action_back'|trans }}">{{ contact.name}} {{ contact.surname }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="{{ url('tag_index') }}" title="{{ 'action_back'|trans }}">
                {{ 'action_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}